<!-- chat.ejs -->
<input type="hidden" name="room-id" id="room-id" value="<%= roomId %>" />

<div class="chat-container">
  <h2>Numbers Drawn</h2>
  <article id="chat-window"></article>
  <input type="text" name="message" id="message" placeholder="Message" />
</div>

<template id="chat-message">
  <div class="message">
    <img src="" alt="" />
    <p></p>
  </div>
</template>

<style>
  .chat-container {
    height: 300px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    padding: 10px; 
  }
</style>
