<nav>
    <a class="header-button" href="/" > Home</a>  
    <% if (loggedIn) { %>
        <a class="header-button" href="/auth/logout"> Logout</a>
        <a class="header-button" href="/creategame">Create Game</a> <!--Nina could you make a button for this-->
        <a class="header-button" href="/activegames"> Your Games</a> <!--Nina could you make a button for this-->
        <a class="header-button" href="/lobby" > Lobby</a>
    <% } else { %>
        <a class="header-button" href="/login"> Login</a>
    <% } %>

    <a class="header-button" href="/signup" > Sign Up</a>
</nav>