<nav>
    <a class="header-button" href="/" > Home</a>  
    <% if (loggedIn) { %>
        <a class="header-button" href="/auth/logout"> Logout</a>
<<<<<<< HEAD
        <a class="header-button" href="/creategame">Create Game</a> 
    <a class="header-button" href="/activegames"> Your Games</a> 
    <a class="header-button" href="/lobby" > Lobby</a>
=======
        <a class="header-button" href="/creategame">Create Game</a> <!--Nina could you make a button for this-->
        <a class="header-button" href="/activegames"> Your Games</a> <!--Nina could you make a button for this-->
        <a class="header-button" href="/lobby" > Lobby</a>
>>>>>>> 0ed082ca51195e2bb865b50e2e238b169f45d6cd
    <% } else { %>
        <a class="header-button" href="/login"> Login</a>
    <% } %>

    <a class="header-button" href="/signup" > Sign Up</a>
</nav>